* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

#body {
  font-family: "Source Sans Pro", sans-serif;
  display: grid;
  grid-template-areas: "header" "main" "footer";
}

#header {
  width: 100%;
  background-color: #FF8100;
  grid-area: header;
}

.header__navbar {
  background-color: #FF8100;
  width: 100%;
}

.header__navbar__container {
  display: flex;
  justify-content: flex-end;
}

.header__logo__imagen {
  width: 250px;
  margin: 0.5rem;
}

.header__nav__container__ul {
  margin: 1rem;
  font-size: 1.8rem;
  font-weight: 600;
  text-shadow: 0.2rem 0.2rem 1rem #000000;
  flex-grow: 0;
}
.header__nav__container__ul li {
  margin: 1.5rem;
  border-bottom: 3px solid #FF8100;
  transition: border-bottom 0.5s;
}
.header__nav__container__ul li a {
  color: #F1F2F6;
  transition: color 0.5s;
}
.header__nav__container__ul li a:hover {
  color: #541388;
}
.header__nav__container__ul li:hover {
  margin: 1.5rem;
  border-bottom: 3px solid #541388;
}

.navbar-toggler {
  border: 2px solid #541388;
  font-size: 2rem;
  width: 5rem;
  height: 5rem;
}

.seccionPrincipal {
  text-align: center;
  font-size: 2.4rem;
  background-image: url(../images/fondoSecciones.jpg);
  background-position: center;
  background-size: cover;
  color: #F1F2F6;
  min-height: 65vh;
  text-shadow: 0.2rem 0.2rem 1rem #000000;
}
.seccionPrincipal h1 {
  text-decoration: underline;
  text-underline-offset: 1.5rem;
  text-decoration-color: #FF8100;
  font-size: 4rem;
  font-weight: bold;
  padding: 4rem;
}
.seccionPrincipal h2 {
  font-size: 3rem;
  font-weight: bold;
  margin: 3rem;
  color: #FF8100;
}

#footer {
  grid-area: footer;
  border-top: 7rem solid #FF8100;
  font-size: 1.6rem;
  background-color: #e7e5e5;
  padding-top: 5rem;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 3fr 3fr 3fr 1fr;
  grid-template-areas: ". mapaDelSitio contacto horario ." ". . logoFooter . ." ". . redes . ." "copyright copyright copyright copyright copyright";
  column-gap: 5rem;
  justify-content: stretch;
  justify-items: center;
  align-content: start;
}

.footer__secciones {
  width: 20vw;
  margin: 2rem;
  text-align: left;
}

.footer__secciones__h2 {
  padding-bottom: 0.4rem;
  margin-bottom: 2rem;
  border-bottom: 2px solid #541388;
  font-size: 2.2rem;
  font-weight: bold;
  color: #541388;
}

.footer__secciones__ul {
  padding: 0;
}
.footer__secciones__ul li {
  list-style: none;
  padding-bottom: 0.3rem;
}
.footer__secciones__ul a {
  text-decoration: none;
  color: #000000;
}

.logoRedesSociales {
  width: 3rem;
}

#mapaDelSitio {
  grid-area: mapaDelSitio;
}
#mapaDelSitio li {
  border-bottom: 1px solid #541388;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

#contacto {
  grid-area: contacto;
}

#redes {
  grid-area: redes;
  text-align: center;
}

#horarios {
  grid-area: horario;
}

#logoFooter {
  grid-area: logoFooter;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
#logoFooter img {
  width: 50%;
  height: 50%;
  object-fit: contain;
}

#copyright {
  grid-area: copyright;
  width: 100%;
  font-size: 1.2rem;
  background-color: #FF8100;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 5rem;
}

.logoWhatsapp {
  position: fixed;
  z-index: 1;
  width: 7rem;
  bottom: 7rem;
  right: 7rem;
  border-radius: 15%;
  transition: box-shadow 0.5s;
}
.logoWhatsapp a img {
  width: 100%;
}
.logoWhatsapp:hover {
  box-shadow: 0px 0px 20px #28531f;
}

#main {
  width: 100%;
  border-top: 5px solid #541388;
  border-bottom: 5px solid #541388;
  grid-area: main;
}

#presentacion {
  color: #F1F2F6;
  position: relative;
  min-height: 65vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.presentacion__mensajePrincipal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.presentacion__mensajePrincipal h1 {
  font-size: 7rem;
  font-weight: bold;
  margin: 2rem;
  text-shadow: 1rem 1rem 1rem #000000;
}
.presentacion__mensajePrincipal h1 span {
  color: #FF8100;
}
.presentacion__mensajePrincipal p {
  font-size: 4rem;
  margin: 5rem;
  text-shadow: 1rem 1rem 1rem #000000;
}

.presentacion__botonContacto {
  background-color: #FF8100;
  text-decoration: none;
  font-size: 2.5rem;
  color: #F1F2F6;
  padding: 1rem 6rem;
  border-radius: 3rem;
  margin: 4rem;
  text-shadow: 0.2rem 0.2rem 1rem #000000;
}
.presentacion__botonContacto:hover {
  background-color: #541388;
}

.presentacion__videoFondo {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: -1;
}

.seccionPrincipal__quienesSomos img {
  overflow: hidden;
  max-width: 100%;
  height: auto;
  box-shadow: 0.2rem 0.2rem 1rem #000000;
  margin-bottom: 2rem;
}

#quienesSomos {
  width: 70%;
  margin: auto;
}

#mision, #valores {
  margin: 5rem 2.5rem 5rem 2.5rem;
}

.servicio {
  width: 85%;
  margin: auto;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding: 1.5rem;
}
.servicio p {
  text-align: justify;
}

.iconoDeServicio {
  width: 25rem;
  margin: 0.5rem;
}

.seccionPrincipal__areaClientes {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.seccionPrincipal__areaClientes p {
  margin-bottom: 5rem;
}

#seccionContacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.seccionPrincipal__Contenedor {
  width: 100%;
}

#formularioContacto {
  width: 30%;
  margin: auto;
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 5rem;
}
.formulario label {
  width: 100%;
  text-align: left;
  margin-top: 1rem;
  margin-bottom: 0.2rem;
}
.formulario input {
  width: 100%;
  height: 3.5rem;
}
.formulario textarea {
  width: 100%;
  margin-bottom: 3rem;
}
.formulario div {
  width: 80%;
  display: flex;
  align-self: center;
  justify-content: center;
}

.botonFormulario {
  background-color: #FF8100;
  font-size: 2.5rem;
  width: 10rem;
  height: min-content;
  box-sizing: content-box;
  border: 0;
  color: #F1F2F6;
  border-radius: 3rem;
  padding: 0.5rem;
  margin: 2rem;
  text-shadow: 0.2rem 0.2rem 1rem #000000;
  align-self: center;
  transition: background-color 0.5s;
}
.botonFormulario:hover {
  background-color: #541388;
}

.mapa {
  width: 100%;
}

@media screen and (max-width: 960px) {
  .presentacion__mensajePrincipal h1 {
    font-size: 5rem;
  }
  .presentacion__mensajePrincipal p {
    font-size: 3rem;
  }
  #formularioContacto {
    width: 60%;
  }
  #footer {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "mapaDelSitio contacto" "horario horario" "logoFooter logoFooter" "redes redes" "copyright copyright";
    column-gap: 0.5rem;
  }
  .footer__secciones {
    width: 35vw;
  }
  .logoWhatsapp {
    bottom: 4rem;
    right: 4rem;
    width: 5rem;
  }
}
@media screen and (max-width: 540px) {
  #formularioContacto {
    width: 80%;
  }
  #footer {
    grid-template-columns: 1fr;
    grid-template-areas: "mapaDelSitio" "contacto" "horario" "logoFooter" "redes" "copyright";
  }
  .footer__secciones {
    width: 70vw;
  }
}

/*# sourceMappingURL=estilos.css.map */
