.seccionPrincipal__areaClientes        {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p   {
        margin-bottom: 5rem;
    }
}