@use "assets/colores";

.seccionPrincipal__areaClientes        {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p   {
        margin-bottom: 3rem;
    }
}


#login  {
    padding: 2rem;
    border: 3px solid colores.$colorNaranja;
}



#serviciosAdicionales   {
    display: flex;
    flex-direction: column;
    width: 100%;
    h5 {
        font-size: 2.4rem;
        margin-top: 3rem;
        margin-bottom: 2rem;
        text-align: left;
        text-decoration: underline;
        color: colores.$colorNaranja;
    }
    input {
        width: 2.2rem;
        height: 2.2rem;
        vertical-align: middle;
    }
    label {
        vertical-align: middle;
        font-size: 2.2rem;
    }
}

.modal-content  {
    background-color: colores.$colorBeige;
    padding: 1rem;
    border: none;
    h5  {
        font-size: 2.4rem;
        font-weight: bold;
    }
    p, li {
        font-size: 1.6rem;
    }

    .btn-primary  {
        font-size: 2rem;
        background-color: colores.$colorNaranja;
        border: none;
        border-radius: 3rem;
        padding: 5px 20px 5px 20px;
        &:hover {
            background-color: colores.$colorVioleta;
        }
    }
}

.ocultar    {
    display: none !important;
}

#saludoBienvenida   {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    font-size: 2.2rem;
    padding: 0;
    border-bottom: 3px solid colores.$colorNaranja;
    p {
        margin: 1rem;
        padding: 0;
    } 
    #botonCerrarSesion   {
        font-size: 2.2rem;
        margin: 1rem;
        padding: 0;
        background-color: colores.$colorVioleta;
        &:hover {
            box-shadow: 0px 0px 20px colores.$colorVioleta !important;
        }
    }
}