@use "assets/colores";

#seccionContacto        {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.seccionPrincipal__Contenedor     {
    width: 100%;
}

#formularioContacto     {
    width: 30%;
    margin: auto;
}

.formulario    {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 5rem;
    label   {
        width: 100%;
        text-align: left;
        margin-top: 1rem;  
        margin-bottom: 0.2rem; 
    }
    input   {
        width: 100%;
        height: 3.5rem;
        &:focus     {
            border: 3px solid colores.$colorNaranja;
            box-shadow: 0px 0px 15px colores.$colorNaranja;
        }
    }
    textarea    {
        width: 100%;
        margin-bottom: 3rem;
        &:focus     {
            border: 3px solid colores.$colorNaranja;
            box-shadow: 0px 0px 15px colores.$colorNaranja;
        }
    }

    div     {
        width: 80%;
        display: flex;
        align-self: center;
        justify-content: center;
    }
}

.botonFormulario    {
    background-color: colores.$colorNaranja;
    font-size: 2.5rem;
    width: 10rem;
    height: min-content;
    box-sizing: content-box;
    border: none;
    color: colores.$colorBeige;
    border-radius: 3rem;
    padding: 0.5rem;
    margin: 2rem;
    text-shadow: 0.2rem 0.2rem 1rem colores.$colorNegro;
    align-self: center;
    transition: box-shadow 0.5s;
    &:hover     {
        box-shadow: 0px 0px 20px colores.$colorNaranja;
    }
}

.botonBorrar    {
    @extend .botonFormulario;
    background-color: colores.$colorVioleta;
    &:hover     {
        box-shadow: 0px 0px 20px colores.$colorVioleta;
    }
}

.mapa   {
    width: 100%;
}