.seccionPrincipal__quienesSomos {
    img     {
        overflow: hidden;
        max-width: 100%;
        height: auto;
        box-shadow: 0.2rem 0.2rem 1rem #000000;
        margin-bottom: 2rem ;
    }
}

#quienesSomos   {
    width: 70%;
    margin: auto;
}

#mision, #valores     {
    margin: 5rem 2.5rem 5rem 2.5rem;
}