.servicio  {
    width: 85%;
    margin: auto;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding: 1.5rem;
    p   {
        text-align: justify;
    }
}

.iconoDeServicio    {
    width: 25rem;
    margin: 0.5rem;
}